// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

// $primary: #f3f0ec;
// $secondary: #1a1818;
// $secondary-500: #d0bda5;

$primary: #e8e8e8;
$secondary: #454545;
$secondary-500: #171717;

$xl: 1500px;
$lg: 1200px;
$md: 992px;
$sm: 769px;

$font-fira: "Fira Sans", sans-serif;
$font-crimson: "Crimson Text", serif;
